<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.websarva.wings.android.bocian">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--予約延長画面-->
        <activity
            android:name="com.websarva.wings.android.bocian.activity.ExtensionActivity"
            android:label="@string/extensionActivity" />
        <!--利用履歴画面-->
        <activity
            android:name="com.websarva.wings.android.bocian.activity.UseHistoryActivity"
            android:label="@string/useHistoryActivity"></activity>
        <!--予約確認画面-->
        <activity
            android:name="com.websarva.wings.android.bocian.activity.BookingConActivity"
            android:label="@string/bookingConActivity"></activity>
        <!--予約確認画面（管理者）-->
        <activity
            android:name="com.websarva.wings.android.bocian.activity.AdminConActivity"
            android:label="@string/bookingConActivity"></activity>
        <!--ハンバーガーメニューテスト画面(テスト)-->
        <activity
            android:name="com.websarva.wings.android.bocian.activity.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!--スケジュール画面-->
        <activity
            android:name="com.websarva.wings.android.bocian.activity.ScheduleActivity"
            android:label="@string/scheduleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--新規予約画面-->
        <activity
            android:name="com.websarva.wings.android.bocian.activity.NewReservationActivity"
            android:label="@string/new_reservation"></activity>
        <!--参加者追加画面-->
        <activity
            android:name="com.websarva.wings.android.bocian.activity.AddMemberActivity"
            android:label="@string/add_member"></activity>
        <!--会社編集画面-->
        <activity
            android:name="com.websarva.wings.android.bocian.activity.EditCompanyActivity"
            android:label="@string/edit_company" />
        <!--参加者確認画面-->
        <activity
            android:name="com.websarva.wings.android.bocian.activity.ParticipantsActivity"
            android:label="@string/participant"></activity>
        <!--備品確認画面-->
        <activity
            android:name="com.websarva.wings.android.bocian.activity.FixturesActivity"
            android:label="@string/fixtures"></activity>
        <!--編集企業選択画面-->
        <activity
            android:name="com.websarva.wings.android.bocian.activity.SelectedCompanyActivity"
            android:label="@string/selected_company"></activity>
    </application>

</manifest>